.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.12rem 2rem 0.87rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--color-dark-navy);
  color: var(--color-white);
  border: none;
}
