.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form__input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__label-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form__label {
  color: var(--color-dark-navy);
}

.form__input {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-grey);
}
